.slider__container {
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.btn {
  width: 100px;
  background-color: #ff00ff;
  outline: 2px solid #a702a7;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.previous {
  left: 10px;
}
.next {
  right: 10px;
}

.img__item {
  display: none;
}

.active {
  display: block;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
